{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>混雑状況ページ</title>
    <link rel="stylesheet" href="{% static 'room_access_system/css/congestion_level_style.css' %}">
</head>
<body>
    <div class="main-content">
        <div class="first-floor">
            <div class="room 1-1"><p>1-1</p></div>
            <div class="room 1-2"><p>1-2</p></div>
            <div class="room 1-3"><p>1-3</p></div>
            <div class="room 1-4"><p>1-4</p></div>
            <div class="room 1-5"><p>1-5</p></div>
            <div class="room 1-6"><p>1-6</p></div>
            <div class="room 1-7"><p>1-7</p></div>
        </div>
    </div>
</body>
</html>