<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">蛟龍祭入場管理システム Marronnier</span>
                <a href="{% url 'account:logout' %}" style="color: white;">ログアウト</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid mt-4">
            <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>1-1</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "1-1" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "1-1" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>1-2</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "1-2" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "1-2" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>1-3</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "1-3" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "1-3" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>1-4</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "1-4" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "1-4" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>1-5</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "1-5" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "1-5" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>1-6</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "1-6" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "1-6" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>1-7</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "1-7" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "1-7" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>2-1</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "2-1" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "2-1" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>2-2</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "2-2" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "2-2" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>2-3</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "2-3" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "2-3" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>2-4</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "2-4" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "2-4" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>2-5</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "2-5" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "2-5" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>2-6</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "2-6" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "2-6" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>2-7</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "2-7" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "2-7" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>3-1</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "3-1" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "3-1" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>3-2</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "3-2" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "3-2" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>3-3</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "3-3" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "3-3" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>3-4</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "3-4" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "3-4" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>3-5</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "3-5" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "3-5" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>3-6</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "3-6" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "3-6" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>3-7</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "3-7" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "3-7" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>小原玲さん写真展</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "obara" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "obara" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>クイズ研究同好会</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "kuizukenkyuu" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "kuizukenkyuu" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>地歴、写真、文芸部</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "chireki-syashin-bungei" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "chireki-syashin-bungei" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>美術部、書道部</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "bijutsu-shodou" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "bijutsu-shodou" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div><div class="col">
                    <div class="p-3 border bg-light">
                        <h5>鉄道研究部</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "tetsudou" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "tetsudou" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>ディベート部</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "debate" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "debate" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>科学・物理部</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "science" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "science" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>将棋、茶道、囲碁、百人一首部</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "koryo-3f" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "koryo-3f" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>弓道部</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "kyudou" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "kyudou" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>体育館</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "taiikukan" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "taiikukan" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>記念館</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "kinenkan" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "kinenkan" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>ライブ</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "live" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access_system:room_access" "live" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>