<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">蛟龍祭入場管理システム</span>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid mt-4">
            <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>1-1</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access" "1-1" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access" "1-1" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>1-2</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access" "1-2" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access" "1-2" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>1-3</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access" "1-3" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access" "1-3" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>1-4</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access" "1-4" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access" "1-4" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>1-5</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access" "1-5" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access" "1-5" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>1-6</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access" "1-6" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access" "1-6" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>1-7</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access" "1-7" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access" "1-7" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>2-1</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access" "2-1" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access" "2-1" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>2-2</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access" "2-2" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access" "2-2" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <h5>2-3</h5>
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access" "2-3" "enter" %}">入場</a>
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" href="{% url "room_access" "2-3" "leave" %}">退場</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>